/* App.css */
body {
  overflow-x: hidden;
  
  max-height: 100vh;
  min-width: 100vw;
  background-image: url('../src/assets/background.jpg');
  background-size: cover; /* Adjusts the size of the image to cover the entire element */
  background-position: center; /* Positions the image at the center */
  background-attachment: fixed;
  background-position-y: -20px !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-container {

  max-height: calc(100vh - 55px);
  display: flex;
  min-width: 100vw;
  padding:0;
/*   margin: 20px 0 0 0;   */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

/* Your other styles */

.main-container {
  position: relative;
  height: 100vh;
  display: flex;
  padding: 45px 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-header {
  /* font-size: 3rem; */
  font-weight: bold;
  color: #fff;
  margin-top: -20px;
  animation: slide-up 1.5s ease-in-out;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    margin-top: -20px;
  }
}

.header-cap {
  position: absolute;
  display: inline-flex;
  margin-top: -25px;
  transform: translateX(-50%);
  opacity: 1;
  font-weight: normal;
  color: #B4245D;
  animation: fade-in 2s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about {
  max-width: 50vw;
  font-size: 14px;
  display: grid;
  justify-content: center;
  margin: 75px 0 auto 0  !important; /* Adjust the top margin to lift it up */
  padding: 15px 20px; /* Adjusted padding for better visibility */
  border: 1px solid #B4245D;
  background-color: rgba(0, 0, 0, 0.45);
  animation: fade-in 2.5s ease-in;
  position: relative; /* Added position property */
  top: -50px; /* Adjust the top position */
}

.about p {
  text-align: left;
  margin: 0;
  padding: 0;
}

