
.Cert span{
     
   color: #B4245D;  
}
#certifications {
   width: 70vw !important;
   text-align: left;
   border: 1px solid #B4245D;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.45);
   margin: auto;
   padding: 20px;
   position: relative;
   top: 90px;

}
.certificate-details {
   text-align: left;
}