/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #628199;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white; /* Change text color of the whole navbar to white */
    border-bottom: 4px solid #B4245D;
    /* Adjust other styles as needed */
  }
  
  .brand {
    margin-left: 20px;
    color: white; /* Change text color of "KM Manyathi" to white */
  }
  
  .nav-links ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
  }

  .nav-links ul li {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    color: white; /* Change text color of the links to white */
  }
  